@import "./variables";
@import './utilities';
@import './header';
.section--contact {
  background-color: $color-primary;
}
.article--contact{
  width: 100%;
  height:auto;
}
@media screen and (min-width:768px){
  .contact__cards{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;

  }
}

@media screen and (min-width:1024px){
  .contact__cards{
    grid-template-columns: repeat(4,24%);
  }
}

.contact__card{
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:$text-color;
}
.contact__card a{
  text-decoration: none;
  list-style: none;
  color: $text-color;
  font-weight: 500;
}
.contact__card > h5{
  text-transform: uppercase;
}
.contact__card > svg{
  width: 2rem;
  height: 2rem;
  fill: $color-secundary;
}
.contact__card > small{
  margin-top: -1rem;
}

.social-media a{
  padding: 0 0.4rem;
  text-decoration: none;
}
.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: $text-color;
}

