$color-primary: #1e2326e7;
$color-primary-alt: #252a2e;
$color-secundary:#1bb17f;
$color-third:#d43175e0;
$text-color:#fff;
$progress-gray-color:#0706063f;
$gray-dark-color: #666;

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

